[user]
	email = AUTHOREMAIL
	name = AUTHORNAME
[core]
	excludesfile = ~/.gitignore
	editor = vim
[color]
	ui = auto
	diff = always
[push]
	default = upstream
[alias]
	lol = log --oneline --graph --decorate
	promote = !$DOT/bin/git-promote
	wtf     = !$DOT/bin/git-wtf
	rank-contributers = !$DOT/bin/git-rank-contributers
	count   = !git shortlog -sn
