[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/Colour-Sampler-Pack"]
	path = vim/vim.symlink/bundle/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack
[submodule "vim/vim.symlink/bundle/salt-vim"]
	path = vim/vim.symlink/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-go"]
	path = vim/vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
